/* ------ Global styles ------ */

body {
	background-color: antiquewhite;
	margin: 0;
}

p {
	color: white;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 60px;
}

a {
	color: rgba(255, 68, 0, 0.741);
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 30px;
	text-decoration: none;
}

/* ------ Yelpington home page ------ */

#yelpHeader {
	background-color: green;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 150px;
}

#navBar {
	background-color: whitesmoke;
	display: flex;
	height: 50px;
	justify-content: space-around;
	align-items: center;
}

#map-container {
	height: 800px;
}

/* ------ Individual restaurant page ------ */

#restaurant-header {
	background-color: green;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 150px;
}

#restaurant-menu {
	display: flex;
	justify-content: center;
	height: auto;
}

#takeout-container {
	background-color: rgba(63, 157, 124, 0.783);
	width: 30vw;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	text-align: center;
}

#name {
	color: gold;
	font-family: cursive;
	font-weight: bold;
	font-size: 50px;
}

#address {
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 30px;
}

#phone-number {
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 30px;
}

#hours {
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 30px;
}

/* This has definitely reinforced the need for me to attend Devon's upcoming Flexbox lesson. */

#restaurant-map {
	display: flex;
	flex-direction: column;
	width: 800px;
	height: fit-content;
}

#restaurant-footer {
	background-color: green;
	display: flex;
	flex-direction: column;
	justify-content: center;
	height: 224px;
}

#restaurant-notes {
	display: flex;
	justify-content: center;
}

#noteCard {
	color: gold;
	font-family: cursive;
	font-weight: bold;
	font-size: 30px;
}
