body {
	background-color: antiquewhite;
}

h1 {
	color: lavenderblush;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	text-decoration: none;

}

a {
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 24px;
	text-decoration: none;
}

#map-container {
	height: 600px;
}

#yelpHeader {
	background-color: green;
	display: flex;
	justify-content: center;
}

#restaurant-header {
	background-color: green;
	display: flex;
	justify-content: center;
}

#name {
	color: orangered;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 24px;
}

#address {
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 20px;
}

#phone-number {
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 20px;
}

#hours {
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 20px;
}

#notes {
	font-family: Arial, Helvetica, sans-serif;
	font-style: italic ;
	font-size: 20px;
}

.navBar {
	display: flex;
	justify-content: space-around;
}

.restaurant-box {
	width: 600px;
}
